@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基础变量 */
:root {
  --color-neutral-0: #1A1C1D;
  --color-neutral-10: #202223;
  --color-neutral-40: #5C5F62;
  --color-neutral-50: #6D7175;
  --color-neutral-60: #8C9196;
  --color-neutral-70: #C9CCD0;
  --color-neutral-75: #DBDDDF;
  --color-neutral-80: #E4E5E7;
  --color-neutral-85: #EDEEEF;
  --color-neutral-90: #F1F2F3;
  --color-neutral-95: #F6F6F7;
  --color-neutral-99: #FAFAFB;
  --color-neutral-100: #FFFFFF;
  --color-neutral-variant-20: #363F4D;
  --color-neutral-variant-30: #444F61;
  --color-neutral-variant-40: #9DA1A6;
  --color-neutral-variant-50: #B6BABF;
  --color-neutral-variant-60: #CDD2D8;
  --color-neutral-variant-70: #DADFE5;
  --color-neutral-variant-80: #E4E9F0;
  --color-neutral-variant-85: #EDF0F5;
  --color-neutral-variant-99: #F5F7FA;
  --color-blue-5: #0E2494;
  --color-blue-10: #1B35B6;
  --color-blue-20: #2B48D8;
  --color-blue-30: #3E5CFA;
  --color-blue-40: #5974FF;
  --color-blue-50: #788EFF;
  --color-blue-60: #95A6FF;
  --color-blue-70: #CCD4FF;
  --color-blue-90: #ECEFFF;
  --color-blue-95: #F2F4FE;
  --color-red-0: #6C0F00;
  --color-red-10: #A21B00;
  --color-red-20: #BC2200;
  --color-red-30: #D72C0D;
  --color-red-40: #EC2F0D;
  --color-red-50: #FD5749;
  --color-red-60: #FEBCB9;
  --color-red-70: #FED3D1;
  --color-red-80: #FFE9E8;
  --color-red-90: #FFF0F0;
  --color-red-95: #FFF4F4;
  --color-yellow-5: #7E5700;
  --color-yellow-10: #B98900;
  --color-yellow-20: #E8A900;
  --color-yellow-30: #FDA500;
  --color-yellow-40: #FFC453;
  --color-yellow-35: #E1B878;
  --color-yellow-60: #FFD79D;
  --color-yellow-70: #FFE6BB;
  --color-yellow-80: #FFEBD3;
  --color-yellow-90: #FFF2E2;
  --color-yellow-95: #FFF5EA;
  --color-aqua-5: #093852;
  --color-aqua-10: #0F5C85;
  --color-aqua-20: #2980AF;
  --color-aqua-30: #2096D6;
  --color-aqua-40: #0DA8FC;
  --color-aqua-50: #5DC4FC;
  --color-aqua-60: #95D8FC;
  --color-aqua-80: #D6F0FF;
  --color-aqua-90: #E0F4FF;
  --color-aqua-95: #F0FAFF;
  --color-green-0: #005231;
  --color-green-10: #006D41;
  --color-green-20: #0BB26F;
  --color-green-30: #0DCC7F;
  --color-green-40: #12D687;
  --color-green-50: #18CE79;
  --color-green-70: #BAF9D9;
  --color-green-80: #D9FAE9;
  --color-green-90: #E6FAF0;
  --color-green-95: #F2FAF6;
  --color-neutral-variant-0: #17191C;
  --color-blue-80: #E0E5FF;
  --color-aqua-70: #B8E4FC;
  --color-green-60: #86F7BE;
  --color-alpha-white-20percent: #FFFFFF33;
  --color-alpha-black-20percent: #00000033;
  --color-lemon-40: #8F7D1A;
  --color-lemon-70: #F3D42D;
  --color-lemon-90: #FDF5CA;
  --color-alpha-white-75percent: #FFFFFFBF;
  --color-neutral-variant-95: #F2F7FE;
  --color-neutral-variant-90: #EDF4FE;
  --color-neutral-variant-88: #E5EFFD;
  --color-neutral-variant-5: #27292C;
  --color-neutral-variant-10: #323539;
  --color-neutral-variant-15: #42454A;
  --color-neutral-variant-35: #4F5C70;
  --color-neutral-20: #323436;
  --color-neutral-30: #414345;
  --color-dark-neutral-0: #17181C;
  --color-dark-neutral-10: #27282C;
  --color-dark-neutral-15: #2D2E33;
  --color-dark-neutral-20: #323339;
  --color-dark-neutral-25: #42434A;
  --color-dark-neutral-30: #54565E;
  --color-dark-neutral-40: #666873;
  --color-alpha-black-75percent: #000000BF;
  --color-dark-neutral-50: #797B87;
  --color-dark-neutral-60: #868996;
  --color-dark-neutral-70: #9699A8;
  --color-dark-neutral-80: #A6A9BA;
  --color-dark-neutral-85: #B8BCCF;
  --color-dark-neutral-90: #CACFE3;
  --color-dark-neutral-95: #D4D8ED;
  --color-dark-neutral-99: #E1E6FC;
  --color-dark-neutral-special-10: #232533;
  --color-dark-neutral-special-30: #383C52;
  --color-dark-neutral-special-40: #464B66;
  --color-lemon-10: #24210B;
  --color-lemon-20: #454127;
  --color-lemon-60: #CFAF00;
  --color-lemon-80: #FFE86B;
  --color-lemon-50: #A48F07;
  --color-red-dark-30: #612E2B;
  --color-red-dark-20: #4F2E2C;
  --color-red-dark-10: #382A29;
  --color-red-25: #CF371C;
  --color-yellow-15: #CF9E1B;
  --color-yellow-dark-10: #383029;
  --color-yellow-dark-20: #4F3E2C;
  --color-yellow-dark-30: #61472B;
  --color-blue-15: #1B39CF;
  --color-blue-0: #0B1964;
  --color-blue-dark-10: #292C38;
  --color-blue-dark-20: #2C334F;
  --color-blue-dark-30: #2B3561;
  --color-aqua-25: #1B93CF;
  --color-aqua-dark-10: #293338;
  --color-aqua-dark-20: #2C434F;
  --color-aqua-dark-30: #2B4F61;
  --color-green-25: #1BCF75;
  --color-green-dark-10: #293830;
  --color-green-dark-20: #2C4F3E;
  --color-green-dark-30: #2B6147;
  --color-yellow-0: #403624;
  --color-yellow-50: #FFD06A;
  --color-aqua-0: #243640;
  --color-aqua-55: #6ACBFF;
  --color-aqua-75: #C7EBFF;
  --color-red-55: #FF5353;
  --color-dark-neutral-5: #1B1C21;
  --color-dark-neutral-special-0: #1C1E26;
  --color-dark-neutral-special-5: #22242E;
  --color-dark-neutral-special-20: #2B2E3B;
  --color-blue-dark-40: #2D3770;
  --color-blue-dark-50: #354285;
  --color-alpha-white-5percent: #FFFFFF0D;
  --color-alpha-black-10percent: #0000001A;
  --color-basic-none: #FFFFFF00;
  --color-basic-white: #FFFFFF;
  --color-basic-black: #000000;
  --color-alpha-white-10percent: #FFFFFF1A;
  --color-alpha-white-30percent: #FFFFFF4D;
  --color-alpha-white-40percent: #FFFFFF66;
  --color-alpha-white-50percent: #FFFFFF80;
  --color-alpha-white-60percent: #FFFFFF99;
  --color-alpha-white-70percent: #FFFFFFB2;
  --color-alpha-white-80percent: #FFFFFFCC;
  --color-alpha-white-90percent: #FFFFFFE5;
  --color-alpha-white-100percent: #FFFFFF;
  --color-alpha-black-5percent: #0000000D;
  --color-alpha-black-30percent: #0000004D;
  --color-alpha-black-40percent: #00000066;
  --color-alpha-black-50percent: #00000080;
  --color-alpha-black-60percent: #00000099;
  --color-alpha-black-70percent: #000000B2;
  --color-alpha-black-80percent: #000000CC;
  --color-alpha-black-90percent: #000000E5;
  --color-alpha-black-100percent: #000000;
  --color-alpha-white-1percent: #FFFFFF03;
  --color-alpha-white-3percent: #FFFFFF08;
  --color-alpha-white-8percent: #FFFFFF14;
  --color-alpha-black-1percent: #00000003;
  --color-alpha-black-3percent: #00000008;
  --color-alpha-black-8percent: #00000014;
  --color-moss-25: #FAFDF7;
  --color-moss-50: #F5FBEE;
  --color-moss-100: #E6F4D7;
  --color-moss-200: #CEEAB0;
  --color-moss-300: #ACDC79;
  --color-moss-400: #86CB3C;
  --color-moss-500: #669F2A;
  --color-moss-600: #4F7A21;
  --color-moss-700: #3F621A;
  --color-moss-800: #335015;
  --color-moss-900: #2B4212;
  --color-moss-950: #1A280B;
  --color-teal-25: #F6FEFC;
  --color-teal-50: #F0FDF9;
  --color-teal-100: #CCFBEF;
  --color-teal-200: #99F6E0;
  --color-teal-300: #5FE9D0;
  --color-teal-400: #2ED3B7;
  --color-teal-500: #15B79E;
  --color-teal-600: #0E9384;
  --color-teal-700: #107569;
  --color-teal-800: #125D56;
  --color-teal-900: #134E48;
  --color-teal-950: #0A2926;
  --color-cyan-25: #F5FEFF;
  --color-cyan-50: #ECFDFF;
  --color-cyan-100: #CFF9FE;
  --color-cyan-200: #A5F0FC;
  --color-cyan-300: #67E3F9;
  --color-cyan-400: #22CCEE;
  --color-cyan-500: #06AED4;
  --color-cyan-600: #088AB2;
  --color-cyan-700: #0E7090;
  --color-cyan-800: #155B75;
  --color-cyan-900: #164C63;
  --color-cyan-950: #0D2D3A;
  --color-indigo-25: #F5F8FF;
  --color-indigo-50: #EEF4FF;
  --color-indigo-100: #E0EAFF;
  --color-indigo-200: #C7D7FE;
  --color-indigo-300: #A4BCFD;
  --color-indigo-400: #8098F9;
  --color-indigo-500: #6172F3;
  --color-indigo-600: #444CE7;
  --color-indigo-700: #3538CD;
  --color-indigo-800: #2D31A6;
  --color-indigo-900: #2D3282;
  --color-indigo-950: #1F235B;
  --color-pink-25: #FEF6FB;
  --color-pink-50: #FDF2FA;
  --color-pink-100: #FCE7F6;
  --color-pink-200: #FCCEEE;
  --color-pink-300: #FAA7E0;
  --color-pink-400: #F670C7;
  --color-pink-500: #EE46BC;
  --color-pink-600: #DD2590;
  --color-pink-700: #C11574;
  --color-pink-800: #9E165F;
  --color-pink-900: #851651;
  --color-pink-950: #4E0D30;
  --color-rosé-25: #FFF5F6;
  --color-rosé-50: #FFF1F3;
  --color-rosé-100: #FFE4E8;
  --color-rosé-200: #FECDD6;
  --color-rosé-300: #FEA3B4;
  --color-rosé-400: #FD6F8E;
  --color-rosé-500: #F63D68;
  --color-rosé-600: #E31B54;
  --color-rosé-700: #C01048;
  --color-rosé-800: #A11043;
  --color-rosé-900: #89123E;
  --color-rosé-950: #510B24;
  --color-orange-25: #FEFAF5;
  --color-orange-50: #FEF6EE;
  --color-orange-100: #FDEAD7;
  --color-orange-200: #F9DBAF;
  --color-orange-300: #F7B27A;
  --color-orange-400: #F38744;
  --color-orange-500: #EF6820;
  --color-orange-600: #E04F16;
  --color-orange-700: #B93815;
  --color-orange-800: #932F19;
  --color-orange-900: #772917;
  --color-orange-950: #511C10;
  --color-amber-50: #FEFBE8;
  --color-amber-100: #FEF7C3;
  --color-amber-200: #FEEE95;
  --color-amber-300: #FDE272;
  --color-amber-400: #FAC515;
  --color-amber-500: #EAAA08;
  --color-amber-600: #CA8504;
  --color-amber-700: #A15C07;
  --color-amber-800: #854A0E;
  --color-amber-900: #713B12;
  --color-amber-950: #542C0D;
  --color-purple-25: #FAFAFF;
  --color-purple-50: #F4F3FF;
  --color-purple-100: #EBE9FE;
  --color-purple-200: #D9D6FE;
  --color-purple-300: #BDB4FE;
  --color-purple-400: #BDB4FE;
  --color-purple-500: #7A5AF8;
  --color-purple-600: #6938EF;
  --color-purple-700: #5925DC;
  --color-purple-800: #4A1FB8;
  --color-purple-900: #3E1C96;
  --color-purple-950: #27115F;
  --color-amber-25: #FEFDF0;
  --color-sky-blue-25: #F5FAFF;
  --color-sky-blue-50: #EFF8FF;
  --color-sky-blue-100: #D1E9FF;
  --color-sky-blue-200: #B2DDFF;
  --color-sky-blue-300: #84CAFF;
  --color-sky-blue-400: #53B1FD;
  --color-sky-blue-500: #2E90FA;
  --color-sky-blue-600: #1570EF;
  --color-sky-blue-700: #175CD3;
  --color-sky-blue-800: #1849A9;
  --color-sky-blue-900: #194185;
  --color-sky-blue-950: #102A56;
}